azureADFpoc/pipeline/Stage2.json
{
	"name": "Stage2",
	"properties": {
		"activities": [
			{
				"name": "Curation Loading",
				"type": "HDInsightSpark",
				"dependsOn": [
					{
						"activity": "ParamsLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"rootPath": "jars",
					"entryFilePath": "azureCuration-1.0-SNAPSHOT.jar",
					"arguments": [
						"@activity('ParamsLookup').output.value[0].srcTbl",
						"@activity('ParamsLookup').output.value[0].tgtTbl",
						"@activity('ParamsLookup').output.value[0].tgtPath",
						"@formatDateTime(utcnow(),'yyyy-MM-dd')"
					],
					"className": "com.prad.legend.blooper",
					"sparkJobLinkedService": {
						"referenceName": "pharmacypocblobconn",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "SparkClusterConn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ParamsLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ParamsDataset",
						"type": "DatasetReference",
						"parameters": {
							"paramFilePath": {
								"value": "@pipeline().parameters.ParamPath",
								"type": "Expression"
							},
							"paramFileName": {
								"value": "@pipeline().parameters.ParamName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stage 2 Success Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Curation Loading",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email Pusher",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "yuhajobs@gmail.com",
						"Subject": "Stage 2 Success",
						"ErrorMessage": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"ParamPath": {
				"type": "string"
			},
			"ParamName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}